<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="navbar">
    <!-- 네비게이션 바 -->
    <nav class="navbar navBarColor navbar-dark w-100">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- 로고 및 제목 -->
            <a class="navbar-brand" href="/">
                <i class="bi bi-cloud"></i> MMS
            </a>
            <!-- 메뉴 (항상 가로로 보이도록 설정) -->
            <ul class="navbar-nav ms-auto">
                <li id="loginLi" class="nav-item mx-2">
                    <a class="nav-link text-white" href="/security/loginForm">로그인</a>
                </li>
                <li id="logoutLi" class="nav-item mx-2">
                    <a class="nav-link text-white" href="/logout" onclick="return confirm('로그아웃 하시겠습니까?')">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>
