<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>시도별 실시간 평균</title>
    <link rel="stylesheet" href="/css/realtimesido/realtimesido.css">
    <script src="/js/realtimesido/realtimesido.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h2>시도별 실시간 평균</h2>
    <p>시도별 대기오염 통계 데이터를 시간단위, 일단위로 조회할 수 있는 페이지</p>

    <div class="search-bar-container">
        <form id="searchForm">
            <div class="search-bar">
                <label>
                    <select id="itemCode" name="itemCode" class="form-select">
                        <option value="PM25">초미세먼지</option>
                        <option value="PM10">미세먼지</option>
                    </select>
                </label>
                <label>
                    <select id="dataGubun" name="dataGubun" class="form-select">
                        <option value="DAILY">일평균</option>
                        <option value="HOUR">시간평균</option>
                    </select>
                </label>
                <label>
                    <select id="searchCondition" name="searchCondition" class="form-select">
                        <option value="WEEK">일주일</option>
                        <option value="MONTH">한달</option>
                    </select>
                </label>
                <button class="btn btn-primary" type="button" onclick="searchData()">
                    <i class="bi bi-search"></i> 조회
                </button>
                <button class="btn btn-success" type="button" onclick="excelDownload()">
                    <i class="bi bi-file-earmark-excel"></i> 엑셀
                </button>
            </div>
        </form>
        <h3 class="menuTitle">[시도별 대기오염 실시간 평균 차트]</h3>
        <div id="chartContainer" class="chartContainer" style="width: 100%; height: 500px;"></div>
        <h3 class="menuTitle">[시도별 대기오염 실시간 평균 데이터]</h3>
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th class="align-center">날짜</th>
                    <th class="align-center">측정항목</th>
                    <th class="align-center" data-city="seoul">서울</th>
                    <th class="align-center" data-city="daejeon">대전</th>
                    <th class="align-center" data-city="daegu">대구</th>
                    <th class="align-center" data-city="busan">부산</th>
                    <th class="align-center" data-city="chungbuk">충북</th>
                    <th class="align-center" data-city="chungnam">충남</th>
                    <th class="align-center" data-city="gangwon">강원</th>
                    <th class="align-center" data-city="gwangju">광주</th>
                    <th class="align-center" data-city="gyeongbuk">경북</th>
                    <th class="align-center" data-city="gyeonggi">경기</th>
                    <th class="align-center" data-city="gyeongnam">경남</th>
                    <th class="align-center" data-city="incheon">인천</th>
                    <th class="align-center" data-city="jeju">제주</th>
                    <th class="align-center" data-city="jeonbuk">전북</th>
                    <th class="align-center" data-city="jeonnam">전남</th>
                    <th class="align-center" data-city="sejong">세종</th>
                    <th class="align-center" data-city="ulsan">울산</th>
                </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
