body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-brand {
    margin-left: 10px;
}

.container-fluid {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.map {
    width: 100%;
    height: 100%;
}

.main-content {
    height: 100vh;
}

.offcanvas {
    margin-top : 56px;
}


.offcanvas-header {
    background-color: #007bff;
    color: white;

    height: 50px;
    line-height: 50px;
    text-align: center;
}

.offcanvas-header h5 {
    margin: 0;
    line-height: 1.2;
}