<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>측정소별 대기오염 월평균</title>
    <link rel="stylesheet" href="/css/realtimemonth/realtimemonth.css">
    <script src="/js/realtimemonth/realtimemonth.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h2>측정소별 대기오염 실시간 월평균</h2>
    <p>측정소별 대기오염 통계 데이터를 월단위로 조회할 수 있는 페이지</p>

    <div class="search-bar-container">
        <form id="searchForm">
            <div class="search-bar">
                <label>
                    <select id="sido" class="form-select" name="sido"></select>
                </label>
                <label>
                    <select id="station" class="form-select" name="station"></select>
                </label>

                <label for="startDate">
                    <div class="input-group">
                        <input id="startDate" type="text" class="form-control" placeholder="시작 월" name="startDate">
                        <span class="input-group-text">
                    <i class="bi bi-calendar"></i>
                </span>
                    </div>
                </label>
                <label for="endDate">
                    <div class="input-group">
                        <input id="endDate" type="text" class="form-control" placeholder="종료 월" name="endDate">
                        <span class="input-group-text">
                    <i class="bi bi-calendar"></i>
                </span>
                    </div>
                </label>

                <button type="button" class="btn btn-primary" onclick="searchData()">
                    <i class="bi bi-search"></i> 조회
                </button>
            </div>
        </form>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab1">미세먼지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab2">초미세먼지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab3">아황산가스</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab4">일산화탄소</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab5">이산화질소</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab6">오존</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
            <div id="pm10" class="chartContainer"></div>
        </div>
        <div class="tab-pane fade" id="tab2">
            <div id="pm25" class="chartContainer"></div>
        </div>
        <div class="tab-pane fade" id="tab3">
            <div id="so2" class="chartContainer"></div>
        </div>
        <div class="tab-pane fade" id="tab4">
            <div id="co" class="chartContainer"></div>
        </div>
        <div class="tab-pane fade" id="tab5">
            <div id="no2" class="chartContainer"></div>
        </div>
        <div class="tab-pane fade" id="tab6">
            <div id="o3" class="chartContainer"></div>
        </div>
    </div>

    <h3 class="menuTitle">[측정소별 실시간 월 평균 데이터]</h3>
    <div class="table-responsive" id="tableContainer" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th class="align-center">측정소명</th>
                <th class="align-center">미세먼지(µg/m²)</th>
                <th class="align-center">초미세먼지(µg/m²)</th>
                <th class="align-center">아황산가스(ppm)</th>
                <th class="align-center">일산화탄소(ppm)</th>
                <th class="align-center">이산화질소(ppm)</th>
                <th class="align-center">오존(ppm)</th>
            </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</div>
</body>
</html>