<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약_메인</title>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
  <script>
    function search() {
      $("#content").
    }
  </script>
</head>
<body>
  <div>
    <label>
      <select>
        <option value="Singapore">싱가포르</option>
        <option value="Hawaii">하와이</option>
        <option value="KotaKinabalu">코타키나발루</option>
        <option value="Vietnam">베트남</option>
      </select>
    </label>
    <button onclick="search()">검색</button>
  </div>

  <div id="content"></div>
</body>
</html>