<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>미세먼지 경보</title>
    <!-- 스타일시트 -->
    <link rel="stylesheet" href="/css/finedustalert/finedustalert.css">
    <!-- 스크립트 -->
    <script src="/js/finedustalert/finedustalert.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h2>미세먼지 경보 발령 현황</h2>
    <p>미세먼지 경보 발령 현황 데이터를 조회할 수 있는 페이지</p>

    
</div>
</body>
</html>