<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>미세먼지 모니터링 시스템</title>
    <th:block th:replace="~{common/header}"></th:block>
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>
<nav class="navbar mainPage-navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-cloud"></i> MMS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-white" href="/admin">관리자</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/login">로그인</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="mainPage-container">
    <h2 class="mainPage-title">미세먼지 모니터링 시스템</h2>
    <p class="mainPage-subtitle">Monitoring System</p>
    <div class="mainPage-btn-container">
        <a href="/gismap/select" class="mainPage-btn">
            <i class="bi bi-geo-alt-fill"></i>
            GIS
            <span class="mainPage-btn-subtext">Geographic Information System</span>
        </a>
        <a href="/finedustalert/select" class="mainPage-btn">
            <i class="bi bi-exclamation-triangle-fill"></i>
            예보 및 경보
            <span class="mainPage-btn-subtext">Forecast & Alert</span>
        </a>
        <a href="/station/select" class="mainPage-btn">
            <i class="bi bi-building"></i>
            측정소 정보
            <span class="mainPage-btn-subtext">Station Information</span>
        </a>
        <a href="realTimeSido/select" class="mainPage-btn">
            <i class="bi bi-clock"></i>
            실시간자료
            <span class="mainPage-btn-subtext">Real-time Data</span>
        </a>
        <a href="/notices/select" class="mainPage-btn">
            <i class="bi bi-headset"></i>
            고객지원
            <span class="mainPage-btn-subtext">Customer Support</span>
        </a>
    </div>
</div>
</body>
</html>
