<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout_map}">
<head>
    <meta charset="UTF-8">
    <title>GIS 지도</title>
    <!-- JS -->
    <script src="/js/gismap/gismap.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/gismap/gismap.css"></link>
</head>
<body>
<div layout:fragment="content">
    <!-- 지도 DIV -->
    <div id="map" class="map"></div>
</div>
</body>
</html>