<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home_Main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js" integrity="sha512-XSmbX3mhrD2ix5fXPTRQb2FwK22sRMVQTpBP2ac8hX7Dh/605hA2QDegVWiAvZPiXIxOV0CbkmUjGionDpbCmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/common/common.js"></script>
    <script src="/js/home/home.js"></script>
</head>
<body>
    <button class="navigate-button" value="/dataStatus/main">데이터 수집현황</button>
    <button class="navigate-button" value="/dataChart/main">데이터 차트</button>
    <button class="navigate-button" value="/dataTable/main">데이터 테이블</button>
</body>
</html>